#root{
  width: 1440px;
  height: 2843px;
}

#root > header{
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B9AEAE;
}

#root > header > .logo{
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
}

#root > header > .logo > a > .img{
  width: 60px;
  height: 60px;
  margin: 15px;
}

#root > header > .name{
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > header > .name > div{
  font-size: 32px;
}

#root > header > .login{
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#root > header > .login > a > .signUp{
  width: 125px;
  height: 44px;
  background-color: #4F4F4F;
  border: 0;
  border-radius: 5px;
  margin-right: 30px;
  cursor: pointer;
}

#root > header > .login > a > .signIn{
  width: 125px;
  height: 44px;
  background-color: #4F4F4F;
  border: 0;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

#root > #sidebar{
  width: 1440px;
  height: 328px;
}

#root > #sidebar > .search-form{
  text-align: center;
  display: flex;
}

#root > #sidebar > .search-form > .search{
  width: 1100px;
  height: 100px;
  margin-top: 15px;
  border-radius: 100px;
  margin-left: 57px;
}

#root > #sidebar > .search-form > .search-button{
  width: 200px;
  height: 100px;
  margin-top: 15px;
  border-radius: 100px;
  margin-left: 57px;
}

#root > main{
  width: 100vw;
  height: 2415px;
}

#root > main > #menu{
  width: 1440px;
  height: 181px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#root > main > #menu > a > .leftbt{
  width: 200px;
  height: 80px;
  background-color: #4F4F4F;
  border: 0;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.rightbt{
  width: 200px;
  height: 80px;
  background-color: #4F4F4F;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

#root > main > #section{
  width: 1440px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5rem;
  place-items: center;
}

#root > main > #section > #list{
  width: 250px;
  height: 350px;
  /*background-image: url(./Golde33443.jpg);*/
  display: flex;
  align-items: end;
}

#root >main > #section > #list > #text{
  width: 250px;
  height: 30px;
  backdrop-filter: blur(10px);
  text-align: center;
  font-size: 16px;
  color: white;
  position: absolute;
}

#root > main > .pagenation{
  width: 1440px;
  height: 67px;
  background-color: #4F3434;
  position: sticky;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > main > .pagenation > p {
  margin: 20px;
  color: white;
}