<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="http://localhost:8000/createboard.css">
</head>
<body>
  <div id="root">
    <header>
      <div class="logo">
        <a href="http://localhost:8000/board">
          <img src="http://localhost:8000/로고.png" alt="" class="img">
        </a>
      </div>
    </header>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div>
        <section id="imgSector">
          <div id="img"><input type="file" name="image"></div>
        </section>
        <div id="buttonPage">
          <button type="submit">작성하기</button>
        </div>
      </div>
      <div>
        <div id="inputAlpha">
          <p>이름</p>
          <input type="text" name="animal"class="submitAlpha">
        </div>
        <div id="inputAlpha">
          <p>견종</p>
          <input type="text" name="kind" class="submitAlpha">
        </div>
        <div id="inputAlpha">
          <p>성별</p>
          <input type="text" name="gender" class="submitAlpha">
        </div>
        <div id="inputAlpha">
          <p>나이</p>
          <input type="text" name="age" class="submitAlpha">
        </div>
        <div id="inputAlpha">
          <p>중성화 유무</p>
          <input type="text" name="neutering" class="submitAlpha">
        </div>
        <div id="inputAlpha">
          <p>잃어버린 곳</p>
          <input type="text" name="location" class="submitAlpha">
        </div>
        <div id="inputBeta">
          <p>특이사항</p>
          <input type="text" name="matters" class="submitBeta">
        </div>
      </div>
    </form>
  </div>
</body>
</html>