<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="http://localhost:8000/detail.css">
</head>
<body>
  <div id="root">
    <header>
      <div class="logo">
      <a href="">
        <img src="http://localhost:8000/로고.png" alt="" class="img">
      </a>
      </div>
      <div class="login">
        <a href="">
          <button class="signUp">회원가입</button>
        </a>
        <a href="">
          <button class="signIn">로그인</button>
        </a>
      </div>
    </header>
    <main>
      <section id="img">
        <sidebar>
          <div id="left"></div>
        </sidebar>
        <div></div>
        <sidebar>
          <div id="right"></div>
        </sidebar>
      </section>
      <section id="txt">
        <table>
          <thead>
            <tr>
              <th class="topic">발견장소</th>
              <th class="">대덕구 읍내동</th>
              <th class="topic">견종</th>
              <th>리트리버</th>
            </tr>
            <tr>
              <th class="topic">성별</th>
              <th>여</th>
              <th class="topic">나이</th>
              <th>6개월</th>
            </tr>
            <tr>
              <th class="topic">중성화 유무</th>
              <th>미완료</th>
              <th class="topic">현재 위치</th>
              <th>대덕구 보호소</th>
            </tr>
            <tr>
              <td colspan="4" id="alpha">특이 사항</td>
            </tr>
            <tr>
              <td colspan="4" id="beta">순함</td>
            </tr>
          </thead>
        </table>
      </section>
    </main>
    <footer>
      <div>
        <input type="text" placeholder="댓글 작성">
      </div>
    </footer>
  </div>
</body>
</html>